body {
  background-image: url(pattern-camouflage-6.jpg);
  font-family: 'Times New Roman', Times, serif;
  color: #e0e0e0;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;       
  background-color: #000;   
}

header {
  padding: 24px;
  text-align:center;
  border-top-right-radius: 3px solid #4a5c44;
}

header h1 {
  margin: 0;
  font-size: 40px;
  letter-spacing: 2px;
}

nav {
  margin-top: 16px;
}

nav a {
  color: #d0c9a8;
  text-decoration: none;
  margin: 0 16px;
  font-weight: bold;
  font-size: 17.6px;
}


.container {
  background-color: #2b382d;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
  max-width: 700px;
  width: 90%;
  text-align: center;
}

h1 {
  color: #eef1ed;
  margin-bottom: 20px;
  font-size: 2em;
}

p {
  font-size: 1.1em;
  line-height: 1.6;
  margin-bottom: 15px;
}

.btn {
  background-color:#8f8e70;
  color: white;
  padding: 12px 24px;
  border: none;
  border-radius: 8px;
  text-decoration: none;
  display: inline-block;
  margin-top: 20px;
  font-weight: bold;
}

.btn:hover {
  background-color: #8f8e70;
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contact {
  padding: 48px 16px;
  background-color: #1c2b23;
  text-align: center;
}

.contact form {
  max-width: 400px;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.contact input,
.contact textarea {
  margin: 8px 0;
  padding: 12.8px;
  border: 1px solid #4a5c44;
  background-color: #2d3e31;
  color: #fff;
  border-radius: 5px;
}

.contact button {
  margin-top: 16px;
  padding: 12.8px;
  background-color: #6b7d5c;
  color: #fff;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.contact button:hover {
  background-color: #5c6c4e;
}


footer {
  background-color: #0f1e13;
  padding: 34px;
  text-align: center;
  font-size: 14.4px;
  color: #888;
  width: 100%;
  max-width: 400px;
  border-radius: 8%;
}


.marquee-container {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #000;
  color: #fff;
  padding: 10px 0;
  z-index: 1000;
}

marquee {
  font-size: 16px;
  font-family: 'Times New Roman', Times, serif;
}


